<a [routerLink]="['dashboard']">Home</a>
<a href="">Logout</a>***

<h1>New Question</h1>

<form (submit)="submitQuestion()" #formData='ngForm'>

  <table>
    <tr>
      <td>Question</td>
      <td>
              <textarea cols="30" rows="10"
                        name="text"
                        required
                        minlength="10"
                        [(ngModel)]="newQuestion.text"
                        #text="ngModel"
              ></textarea>
              <span *ngIf="text.invalid && text.dirty">Please enter question at least 10 characters</span>
      </td>
    </tr>
    <tr>
      <td>Description 
        <p>(Optional)</p>
      </td>
      <td>
        <textarea cols="30" rows="10"
                  name="desc"
                  [(ngModel)]="newQuestion.desc"
                  #desc="ngModel"
        ></textarea>
      </td>
    </tr>
  </table>
  <button [routerLink]="['dashboard']">Cancel</button>
  <input type="submit" value="Submit" [disabled]='!formData.valid'>

</form>