
    


<div class="wrapper">
  <a [routerLink]="['/dashboard']">HOME</a> |
  <a [routerLink]="['/question',currentQuestion._id]">RETURN TO QUESTION</a> |
  <a [routerLink]="['']">LOGOUT</a>
    <div class="header">
        <h1>{{currentQuestion.text }}</h1>
        <p>{{currentQuestion.desc }}</p>
    </div>

<form (submit)="submitAnswer()" #formData='ngForm'>

  <table>
    <tr>
      <td>Your Answer: </td>
      <td>
        <textarea cols="30" rows="5" 
                  name="text" 
                  required minlength="5" 
                  [(ngModel)]="newAnswer.text" 
                  #text="ngModel"></textarea>
        <span *ngIf="text.invalid && text.dirty">Please enter answer that's at least 5 characters</span>
      </td>
    </tr>
    <tr>
      <td>Supporting Details to Answer: 
        <p>(Optional)</p>
      </td>
      <td>
        <textarea cols="30" rows="3" name="desc" [(ngModel)]="newAnswer.details" #details="ngModel"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button [routerLink]="['dashboard']">Cancel</button>
        
        <input type="submit" value="Submit" [disabled]='!formData.valid'>
      </td>
    </tr>
  </table>
  

</form>
</div>