
.container {
    font-family: 'Khula', sans-serif;
    margin: 25px;
}
a {
    font-family: 'Archivo Black', sans-serif;
    color: black;
    text-decoration: underline;
}
.top {
    border: 1px dashed black;
    padding: 15px;
}
.top h1 {
    font-family: 'Archivo Black', sans-serif;
    
}
.answers {
    margin-top: 50px;
    border-spacing: 0px;
}

.answers td:nth-child(1) {
    width: 300px;
    padding: 15px;
}

.answers td:nth-child(2) {
    width: 100px;
    padding: 15px;
    text-align: right;
}

.answers td:nth-child(3) {
    width: 100px;
    padding: 15px;
    text-align: right;
}

.answers tr {
    background-color: rgba(236, 235, 235, 0.993);
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
}

