<div class="wrapper">
    <div class="header">
      <h1 class="style1">Hello {{currentUser.name}} !</h1>
        <a [routerLink]="['/question','new']">ADD A QUESTION</a> | 
        <a [routerLink]="['']">LOGOUT</a> 
        

        <!-- <input type="text" name="" id="" placeholder="Search Questions"> -->
        <!-- <input type="submit" value="Search"> -->
        <!-- <input type="text" name="searchString" [(ngModel)]="searchString" (keyup)="searchQuestions()"> -->
        
<!-- 
      <div class="right"> -->
      
      <!-- </div> -->
    </div>
    <div class="content">
        <div *ngFor='let question of allQuestions' class="contentQuestion">
          <p><span class="style1">Question:</span>
          {{question.text}}</p>
          <p><span class="style1">Answers: </span> {{question.answers.length}}</p>
          <p [ngStyle]="{'font-style':'italic'}">Submitted By: {{question._user}}</p>
          <p>
            <a [routerLink]="['/question',question._id]">Show Question Details</a> |
            <a [routerLink]="['/answer',question._id]">Answer Question</a>
          </p>
        </div>
    </div>


</div>
