<h1>Hi {{currentUser.name}}</h1> 
<a [routerLink]="['']">Logout</a>

<a [routerLink]="['/question','new']">Add a question</a>


<p>search notes:
<input type="text" name="" id="">
<!-- <input type="text" name="searchString" #searchString='ngModel' [(ngModel)]="searchString" (keyup)="searchNotes()"> -->
</p>

<table>
  <thead>
    <th>Question</th>
    <th>Answers</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor='let question of allQuestions'>
      <td>{{question.text}}</td>
      <td>{{question.answers.length}}</td>
      <td><a [routerLink]="['/question',question._id]">Show</a> <a [routerLink]="['/answer',question._id]">Answer</a></td>
    </tr>
  </tbody>
</table>